@use "variables";

$base-width: 1920;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-items-center($gap: 0) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flex-row($gap: 0) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

@mixin margin-top($margin: 0) {
  margin-top: $margin;
}
@mixin padding-left($margin: 0) {
  padding-left: $margin;
}

@mixin padding($padding: 0) {
  padding: $padding;
}

@mixin font-size($size-rem) {
  font-size: calc(#{$size-rem}rem + (100vw - #{$base-width}px) * 0.001);
}
@mixin color($color: variables.$black-title-color) {
  color: $color;
}
