// Colors
$green-primary-color: #fdc903;

$black-gray-color: #33383f;
$black-title-color: #1a1d1f;
$black-matte-color: #343434;
$black-color: #000000;

$red-light-color: #f2786b80;
$pink-salmon-color: #f7bab380;

$blue-ocean-color: #01627c33;
$blue-dark-color: #25314c;

$yellow-light-color: #f2be6b80;
$yellow-lime-color: #c8fd01;
$yellow-sand-color: #d4cd9147;
$yellow-soft-color: #fffeeb;
$yellow-soft-color-prime: #faf9ea;

$gray-light-color: #6f767e;
$gray-bg-color: #efefef;
$gray-placeholder-color: #bfbfbf;
$gray-btn-color: #f4f4f4;
$gray-layout-color: #f5f5f5;
$gray-border-color: #787878;

$white-gray-color: #e6e6e6;
$white-light-color: #c2c2c2cc;
$white-color: #ffffff;

// Typography - font weights
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$font-family-saira: "Saira", sans-serif;

// Border radius
$border-radius-8: 8px;
$border-radius-12: 12px;
$border-radius-14: 14px;
$border-radius-16: 16px;
$border-radius-20: 20px;
$border-radius-30: 30px;
$border-radius-35: 35px;
$border-radius-150: 150px;
$border-radius-50: 50%;
