@use "../variables";
@use "../mixins";

.orders-status-wrapper {
  gap: 1rem;
}

.orders-status-title {
  @include flex-items-center(0.5rem);
  @include font-size(0.85);
  font-family: variables.$font-family-saira !important;
  font-weight: variables.$font-weight-normal !important;
  font-variation-settings: "wght" variables.$font-weight-normal !important;
  @include color(variables.$black-color);
}

.orders-status-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  h1 {
    @include font-size(2);
    font-family: variables.$font-family-saira !important;
    font-weight: variables.$font-weight-semibold !important;
    font-variation-settings: "wght" variables.$font-weight-semibold !important;
  }
  :hover {
    cursor: pointer;
  }
}
